<!DOCTYPE html>
<html lang="en">
 
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Chartjs Charts</title>
</head>
 
<body>
    <div style="height: 50vh; width: 50%;">
        <canvas id="myChart"></canvas>
    </div>
 
    <script>
         var dataObj = JSON.parse({{ datasets }});
	     var json_label = dataObj["ECGI.Realtimecurve.68.793F"][0][0];
	     var json_data = dataObj["ECGI.Realtimecurve.68.793F"][1][0];


        function extractAndCast(dataObj) {
            // Access the main property of the JSON object
            const mainKey = "ECGI.Realtimecurve.68.793F";
            const rawData = jsonData[mainKey];
            const resultArrays = [];
        
            // Iterate through the outer array containing the lists
            rawData.forEach((listWrapper) => {
                // Each 'listWrapper' contains a single list in your provided structure
                listWrapper.forEach((list) => {
                    // Cast each item in the list to a number and store in 'castedList'
                    const castedList = list.map(item => parseFloat(item));
                    // Store the casted list in the result array
                    resultArrays.push(castedList);
                });
            });
        
            return resultArrays;
        }
        

        const array = extractAndCast(jsonData);

 
        const labels = {{ labels | tojson}};

        const data = {
            labels: labels,
            datasets: [{
                label: 'Sales',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: array,
            }]
        };
 
        const config = {
            type: 'line',
            data: data,
            options: { maintainAspectRatio: false }
        };
 
        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
 
    </script>
</body>
</html>
